* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
button {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: 100;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 25%;
}

/*------------------------------*/
/*------------ Menu ------------*/
/*------------------------------*/

.navbar-item {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: flex-end;
}

.navbar-item li,
a {
  text-decoration: none;
  padding-bottom: 1rem;
}

/*------------------------------*/
/*----------- Forsie -----------*/
/*------------------------------*/

.category_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 1rem;
}

.category_boxes a {
  background-color: blue;
  padding: 2rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.7rem;
  text-decoration: none;
  transition-duration: 0.4s;
}

.box:hover {
  background-color: #00007e8c;
}

/*------------------------------*/
/*-------- Produktliste --------*/
/*------------------------------*/

.category_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  grid-template-rows: repeat(5, auto);
}

.item {
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  position: relative;
  gap: 1rem;
}

.category_list_container img {
  border-radius: 0.8rem;
}

.sold_out_img {
  opacity: 0.5;
  filter: grayscale(100%);
}

/*------------------------------*/
/*---------- Discount ----------*/
/*------------------------------*/

.discount {
  position: absolute;
  top: 56%;
  left: 88%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: blue;
  width: 42px;
  color: white;
  border-radius: 0.4rem;
}

.sold_out {
  position: absolute;
  top: 5%;
  left: 12%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: blue;
  width: 42px;
  color: white;
  border-radius: 0.4rem;
}

/*------------------------------*/
/*---------- Produkt -----------*/
/*------------------------------*/
.grid1_1_1 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  gap: 10px;
}

.kurv {
  background-color: #b2aeae;
  color: white;
  padding: 1.5rem;
  border-radius: 0.8rem;
}
